/* Stylesheet by https://anupammondal.in */

/* 
Color gradient pink  
#993399 and #ff3399 
-------------------
Color gradient blue 
#66ffff and #0066ff 
*/
.card-title.border-left.h4 {
    border-left-width: 3px !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Trirong', serif;
}

p, a, li {
    font-family: 'Merriweather', serif;
    font-weight: 100;
}

p {
    font-size: 1.1rem !important;
    font-weight: 100;
}

h1, h2 {
    color: #4632da;
}

.txt-shadow {
    z-index: -1;
    position: absolute;
    width: 100%;
    font-size: 3.8rem;
    color: #e0e0e0;
}

hr.heading-bottom-line {
    width: 20%;
    border-bottom: #000 solid 2px;
}

.bg-1 {
    background: rgb(153, 51, 153);
    background: linear-gradient(0deg, rgba(153, 51, 153, 1) 0%, rgba(255, 51, 153, 1) 100%);
}

.bg-6 {
    background: rgb(102, 255, 255);
    background: linear-gradient(0deg, rgba(102, 255, 255, 1) 0%, rgba(0, 102, 255, 1) 100%);
}

.bg-2 {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.bg-3 {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.bg-4 {
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.bg-5 {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.dual-bg-1 {
    background-image: linear-gradient(300deg, #00c6fb 20%, #005bea 80%);
}
.about-bg {
    background-image: url('https://cdn.pixabay.com/photo/2018/11/30/09/40/business-card-3847385_960_720.jpg');
    background-size: cover;
    background-position: center;
}
.register-bg {
    background-image: url('https://cdn.pixabay.com/photo/2017/10/14/11/30/block-chain-2850276_960_720.jpg');
    background-size: cover;
    background-position: center;
}
.contact-bg {
    background-image: url('https://cdn.pixabay.com/photo/2017/12/02/14/38/contact-us-2993000_960_720.jpg');
    background-size: cover;
    background-position: center;
}
.faq-bg {
    background-image: url('https://cdn.pixabay.com/photo/2016/04/14/08/41/questions-1328466_960_720.jpg');
    background-size: cover;
    background-position: center;
}
.events-bg {
    background-image: url('https://cdn.pixabay.com/photo/2017/10/14/11/30/block-chain-2850276_960_720.jpg');
    background-size: cover;
    background-position: center;
}
.testimonials-bg {
    background-image: url('https://cdn.pixabay.com/photo/2017/12/26/09/56/thank-you-3040081_960_720.jpg');
    background-size: cover;
    background-position: center;
}
.ich-gcp-bg {
    background-image: url('https://cdn.pixabay.com/photo/2019/06/03/17/38/office-4249381_960_720.jpg');
    background-size: cover;
    background-position: top;
}
/* body.body-bg {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/30/19/56/gradient-1291455_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.text-shadow {
    text-shadow: #000000 0px 0px 5px;
}

div.bg-transparent {
    transition: 0.3s;
}

.card-hover-bg:hover div.bg-transparent1 {
    background-color: #088b08de!important;
}

.card-hover-bg:hover div.bg-transparent2 {
    background-color: #005beade!important;
}

.bg-transparent1, .bg-transparent2 {
    background-color: #00000080!important;
    transition: .4s;
}

.bg-color-primary {
    background: rgb(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 0) 30%);
}

.bg-color-light {
    background: rgb(248, 249, 250);
    background: linear-gradient(365deg, rgba(248, 249, 250, 1) 45%, rgba(255, 255, 255, 0) 45%);
}

.header-bg {
    background-image: url('https://images.pexels.com/photos/1254735/pexels-photo-1254735.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
}

.contact-header-bg {
    background-image: url('https://images.pexels.com/photos/263564/pexels-photo-263564.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    background-size: cover;
}

.cdm-header-bg {
    background-image: url('https://images.pexels.com/photos/3184357/pexels-photo-3184357.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
}

.blog-header-bg {
    background-image: url('https://images.pexels.com/photos/262508/pexels-photo-262508.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    background-size: cover;
}

.we-header-bg {
    background-image: url('https://images.pexels.com/photos/2255441/pexels-photo-2255441.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    background-size: cover;
}

.sas-header-bg {
    background-image: url('https://images.pexels.com/photos/185576/pexels-photo-185576.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    background-size: cover;
}

.teacher-reg-header-bg {
    background-image: url('https://images.pexels.com/photos/3184291/pexels-photo-3184291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
}

.overlap-style {
    margin-top: -120px;
}

#card-bg-medicine {
    background-image: url('https://images.pexels.com/photos/3652097/pexels-photo-3652097.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400');
    background-position: center;
    background-size: cover;
}

/* #home-header-bg {
    background-color: rgb(37, 39, 40);
    background-image: url('https://images.pexels.com/photos/2277784/pexels-photo-2277784.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
} */

.header-gradient-bg-right {
    background: rgb(37, 39, 40);
    background: linear-gradient(70deg, rgba(37, 39, 40, 1) 10%, rgba(255, 255, 255, 0) 20%);
}

.parallax {
    background-image: url('https://images.pexels.com/photos/999267/pexels-photo-999267.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-events {
    background-image: url('https://cdn.pixabay.com/photo/2016/05/30/18/27/workshop-1425446_960_720.jpg');
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .footer-bg1 {
    background-image: url('https://images.pexels.com/photos/290595/pexels-photo-290595.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=900');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
} */

.footer-bg {
    background-image: url('https://images.unsplash.com/photo-1540630271798-71a62dfed2a6?ixlib=rb-1.2.1&auto=format&fit=crop&w=791&q=80');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-transparent3 {
    background-color: #00000080!important;
}

img.img-shape-1 {
    border-radius: 20% 20% 20% 60%;
}

img.img-shape-2 {
    border-radius: 20% 40% 20% 20%;
}

img.img-shape-3 {
    border-radius: 15% 15% 45% 15%;
}

ul.down-nav li {
    list-style: none !important;
}
img.hover-effect {
    filter: brightness(0.7);
    transition: .2s;
    cursor: pointer;
}
img.hover-effect:hover {
    filter: brightness(1);
}

h5.rotate-center:hover svg {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

h5.wobble-hor-bottom:hover svg {
    -webkit-animation: wobble-hor-bottom 0.8s both;
    animation: wobble-hor-bottom 0.8s both;
}

h5.bounce-top:hover svg {
    -webkit-animation: bounce-top 0.9s both;
    animation: bounce-top 0.9s both;
}

h5.jello-horizontal:hover svg {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

@media screen and (min-width: 687px) {
    /* .parallax {
        height: 500px;
    } */
}

/* ----------------------------------------------
 * Generated by Animista on 2020-10-17 13:25:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes wobble-hor-bottom {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@keyframes wobble-hor-bottom {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%, 55%, 75%, 87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}