/* Stylesheet by https://anupammondal.in */
.bg-transparent {
    background-color: #000000cc!important;
}
.bg-color-primary {
    background: rgb(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 0) 30%);
}
.bg-color-light {
    background: rgb(248,249,250);
    background: linear-gradient(365deg, rgba(248,249,250,1) 45%, rgba(255,255,255,0) 45%);
}
.header-bg {
    background-image: url('https://images.pexels.com/photos/2280571/pexels-photo-2280571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-size: cover;
}
.overlap-style {
    margin-top: -120px;
}
#card-bg-medicine {
    background-image: url('https://images.pexels.com/photos/3652097/pexels-photo-3652097.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=400');
    background-position: center;
    background-size: cover;
}
#home-header-bg {
    background-image: url('https://images.pexels.com/photos/2277784/pexels-photo-2277784.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-position: center;
    background-size: cover;
}